In [18]:
import pandas as pd
from db import Company, CoalCompanyPerformance
import re
from tabulate import tabulate

In [19]:
companies = Company.select()
for company in companies:
    pass

ccp = CoalCompanyPerformance.select()
for c in ccp:
    pass

In [20]:
existing_names = [re.sub(r'\b(PT|Tbk)\b', '', company.name).lower().strip() for company in companies]

In [21]:
c_df = pd.read_csv("Sample db - company_directory.csv")
ccp_df = pd.read_csv("Sample db - company_performance.csv")

In [ ]:
c_df.loc[c_df['company_type'] == "Owner", 'company_type'] = "Mine Owner"
excluded_companies = ("PT BUMA Internasional Grup Tbk", "PT Murawai Coal")
c_df = c_df[~c_df["name"].isin(excluded_companies)]
c_df['name_cleaned'] = c_df['name'].str.replace(r'\b(PT|Tbk)\b', '', regex=True).str.lower().str.strip()

ccp_dfb

In [24]:
ccp_df.columns

Index(['id', 'company_id', 'mine_id', 'mineral_type', 'calorific_value',
       'mining_operation_status', 'mining_permit', 'area', 'year_measured',
       'production_volume', 'sales_volume', 'overburden_removal_volume',
       'strip_ratio', 'year_measured.1', 'resources_inferred',
       'resources_indicated', 'resources_measured', 'reserves_proved',
       'reserves_probable', 'mineral_sub_type', 'area_geometry',
       'coal_spec_links'],
      dtype='object')

In [27]:
ccp_df

,id,company_id,mine_id,mineral_type,calorific_value,mining_operation_status,mining_permit,area,year_measured,production_volume,...,strip_ratio,year_measured.1,resources_inferred,resources_indicated,resources_measured,reserves_proved,reserves_probable,mineral_sub_type,area_geometry,coal_spec_links
0,1.0,1,NaN,Coal,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,2,1.0,Coal,4360.0,production,IUP,3775.0,NaN,NaN,...,NaN,2022.0,5.0,187.0,118.0,112.0,87.0,Sub-Bituminous,NaN,NaN
2,3.0,3,1.0,Coal,4280.0,production,IUP,3015.0,NaN,NaN,...,NaN,2022.0,4.0,57.0,231.0,51.0,205.0,Sub-Bituminous,NaN,NaN
3,4.0,4,2.0,Coal,4210.0,production,IUP,4996.0,NaN,NaN,...,NaN,2022.0,331.0,268.0,652.0,194.0,512.0,Sub-Bituminous,NaN,NaN
4,5.0,5,2.0,Coal,3940.0,development,IUP,5000.0,NaN,NaN,...,NaN,2022.0,234.0,166.0,304.0,129.0,280.0,Sub-Bituminous,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,NaN,112,39.0,Coal,NaN,development,NaN,4850.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.atlas-coal.co.id/page/products
63,NaN,113,40.0,Coal,NaN,development,NaN,5000.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.atlas-coal.co.id/page/products
64,NaN,114,40.0,Coal,NaN,development,NaN,5010.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.atlas-coal.co.id/page/products
65,NaN,115,41.0,Coal,NaN,development,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NaN,116,41.0,Coal,NaN,development,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
ccp_df[ccp_df['year_measured'].notna()]

,id,company_id,mine_id,mineral_type,calorific_value,mining_operation_status,mining_permit,area,year_measured,production_volume,...,strip_ratio,year_measured.1,resources_inferred,resources_indicated,resources_measured,reserves_proved,reserves_probable,mineral_sub_type,area_geometry,coal_spec_links
17,18.0,26,NaN,Coal,NaN,NaN,NaN,146579.0,2024.0,6.63,...,3.55,NaN,NaN,NaN,NaN,NaN,NaN,Bituminous: Metallurgical Coal/Coking Coal,NaN,https://adarominerals.id/pages/view/bisnis-kam...
27,28.0,58,NaN,Coal,NaN,NaN,NaN,NaN,2023.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,44.0,94,29.0,Coal,NaN,production,IUP,2500.0,2023.0,3.95,...,NaN,2024.0,6.2,14.8,59.7,14.2,19.9,Sub-Bituminous,NaN,https://adaroindonesia.com/pages/view/pertamba...
44,45.0,95,29.0,Coal,NaN,production,IUP,2500.0,2023.0,4.07,...,NaN,2024.0,5.7,8.7,43.3,19.0,2.0,Sub-Bituminous,NaN,https://adaroindonesia.com/pages/view/pertamba...
46,47.0,97,30.0,Coal,NaN,production,IUP,2000.0,2023.0,4.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sub-Bituminous,NaN,https://adaroindonesia.com/pages/view/pertamba...

In [23]:
pd.merge(c_df[['id', 'name_cleaned']], ccp_df, left_on='id', right_on='company_id', how='inner')

,id_x,name_cleaned,id_y,company_id,mine_id,mineral_type,calorific_value,mining_operation_status,mining_permit,area,...,strip_ratio,year_measured.1,resources_inferred,resources_indicated,resources_measured,reserves_proved,reserves_probable,mineral_sub_type,area_geometry,coal_spec_links
0,1,bayan resources,1.0,1,NaN,Coal,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,fajar sakti prima,2.0,2,1.0,Coal,4360.0,production,IUP,3775.0,...,NaN,2022.0,5.0,187.0,118.0,112.0,87.0,Sub-Bituminous,NaN,NaN
2,3,bara tabang,3.0,3,1.0,Coal,4280.0,production,IUP,3015.0,...,NaN,2022.0,4.0,57.0,231.0,51.0,205.0,Sub-Bituminous,NaN,NaN
3,4,tiwa abadi,4.0,4,2.0,Coal,4210.0,production,IUP,4996.0,...,NaN,2022.0,331.0,268.0,652.0,194.0,512.0,Sub-Bituminous,NaN,NaN
4,5,tanur jaya,5.0,5,2.0,Coal,3940.0,development,IUP,5000.0,...,NaN,2022.0,234.0,166.0,304.0,129.0,280.0,Sub-Bituminous,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,112,anugerah energi,NaN,112,39.0,Coal,NaN,development,NaN,4850.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.atlas-coal.co.id/page/products
61,113,kalbara energi pratama,NaN,113,40.0,Coal,NaN,development,NaN,5000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.atlas-coal.co.id/page/products
62,114,ratna utama karya,NaN,114,40.0,Coal,NaN,development,NaN,5010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.atlas-coal.co.id/page/products
63,115,karya manunggal,NaN,115,41.0,Coal,NaN,development,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,116,papua inti energi,NaN,116,41.0,Coal,NaN,development,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
new_company_df = e_company_df[~e_company_df['name_cleaned'].isin(existing_names)]
new_company_df

C:\Users\user\AppData\Local\Temp\ipykernel_3736\915390499.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  e_company_df['name_cleaned'] = e_company_df['name'].str.replace(r'\b(PT|Tbk)\b', '', regex=True).str.lower().str.strip()

,id,name,idx_ticker,parent company id,operation_province,operation_kabkot,representative_address,company_type,key_operation,activities,...,phone_number,email,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,name_cleaned
91,92,PT Adaro Indonesia,NaN,25.0,Kalimantan Selatan,"Tabalong, Balangan",NaN,Mine Owner,Mining Services,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,adaro indonesia
111,112,PT Anugerah Energi,NaN,50.0,Sumatera Selatan,NaN,NaN,Mine Owner,Mining,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,anugerah energi
128,129,PT Rimba Perkasa Utama,NaN,NaN,NaN,NaN,NaN,Contractor,Mining Services,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rimba perkasa utama

In [8]:
def safe_value(val):
    return None if pd.isna(val) else val

for _, row in new_company_df.iterrows():
    company = Company(
        name=safe_value(row['name']),
        idx_ticker=safe_value(row['idx_ticker']),
        operation_province=safe_value(row['operation_province']),
        operation_kabkot=safe_value(row['operation_kabkot']),
        representative_address=safe_value(row['representative_address']),
        company_type=safe_value(row['company_type']),
        key_operation=safe_value(row['key_operation']),
        activities=safe_value(row['activities']),
        website=safe_value(row['website']),
        phone_number=safe_value(row['phone_number']),
        email=safe_value(row['email']),
    )
    # company.save()

In [9]:
existing_company_df = e_company_df[e_company_df['name_cleaned'].isin(existing_names)]
existing_company_df

,id,name,idx_ticker,parent company id,operation_province,operation_kabkot,representative_address,company_type,key_operation,activities,...,phone_number,email,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,name_cleaned
0,1,Bayan Resources Tbk,BYAN.JK,NaN,Kalimantan Timur,NaN,"Gedung Office 8, Lantai 37 Unit A-H Jl. Senopa...",Holding,Mining,NaN,...,021-29356888,corporate.secretary@bayan.com.sg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bayan resources
1,2,PT Fajar Sakti Prima,NaN,1.0,Kalimantan Timur,Kutai Kartanegara,NaN,Mine Owner,Mining,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fajar sakti prima
2,3,PT Bara Tabang,NaN,1.0,Kalimantan Timur,Kutai Kartanegara,NaN,Mine Owner,Mining,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bara tabang
3,4,PT Tiwa Abadi,NaN,1.0,Kalimantan Timur,Kutai Kartanegara,NaN,Mine Owner,Mining,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tiwa abadi
4,5,PT Tanur Jaya,NaN,1.0,Kalimantan Timur,Kutai Kartanegara,NaN,Mine Owner,Mining,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tanur jaya
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,124,PT Aquela Pratama Indonesia,NaN,50.0,NaN,NaN,NaN,Trader,Investment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,aquela pratama indonesia
124,125,PT Karimata Multi Prima,NaN,50.0,NaN,NaN,NaN,Trader,Coal Trading,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,karimata multi prima
125,126,PT Inti Buana Mining,NaN,50.0,NaN,NaN,NaN,Trader,Coal Trading,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inti buana mining
126,127,PT Nusantara Mapan Lestari,NaN,50.0,NaN,NaN,NaN,Trader,Coal Trading,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nusantara mapan lestari
127,128,PT Hanson Energi Baturaja,NaN,50.0,NaN,NaN,NaN,Trader,Coal Trading,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hanson energi baturaja

In [10]:
fields_to_compare = [
    'name',
    'idx_ticker',
    'operation_province',
    'operation_kabkot',
    'representative_address',
    'company_type',
    'key_operation',
    'activities',
    'website',
    'phone_number',
    'email'
]

for _, row in existing_company_df.iterrows():
    company = Company.get_or_none(Company.name == row['name'])
    if company:
        differences = []
        for field in fields_to_compare:
            model_value = getattr(company, field)
            df_value = safe_value(row[field])

            if (model_value != df_value) and (df_value is not None):
                differences.append([field, model_value, df_value])
                # setattr(company, field, df_value) 

        if differences:
            # company.save()
            print(f"\nDifferences for company '{company.name}':")
            print(tabulate(differences, headers=["Field", "DB Value", "CSV Value"], tablefmt="grid"))

Differences for company 'PT Pada Idi':
+------------------+--------------+--------------+
| Field            | DB Value     | CSV Value    |
+==================+==============+==============+
| operation_kabkot | Barito Utara | North Barito |
+------------------+--------------+--------------+

Differences for company 'PT Kaltim Prima Coal':
+------------------+------------+-------------+
| Field            | DB Value   | CSV Value   |
+==================+============+=============+
| operation_kabkot |            | Kutai Timur |
+------------------+------------+-------------+
| phone_number     | 549-521155 | 054-9521155 |
+------------------+------------+-------------+

Differences for company 'Bumi Resources Minerals Tbk':
+------------------------+------------+---------------------------------------------------------------------------------------------------------------------+
| Field                  | DB Value   | CSV Value                                                                                                           |
+========================+============+=====================================================================================================================+
| representative_address |            | Bakrie Tower, 6th & 10th Floor, Kompleks Rasuna Epicentrum, Jl. H.R. Rasuna Said Kuningan, Jakarta 12940, Indonesia |
+------------------------+------------+---------------------------------------------------------------------------------------------------------------------+
| company_type           | Mine Owner | Holding                                                                                                             |
+------------------------+------------+---------------------------------------------------------------------------------------------------------------------+
| website                |            | www.bumiresourcesminerals.com                                                                                       |
+------------------------+------------+---------------------------------------------------------------------------------------------------------------------+
| phone_number           |            | 021-57945698                                                                                                        |
+------------------------+------------+---------------------------------------------------------------------------------------------------------------------+

Differences for company 'PT Mandiri Herindo Adiperkasa Tbk':
+---------------+------------------------------+-----------------+
| Field         | DB Value                     | CSV Value       |
+===============+==============================+=================+
| key_operation | Overburden Removal & Hauling | Mining Services |
+---------------+------------------------------+-----------------+

Differences for company 'PT Ratah Coal':
+--------------------+------------------+-------------------+
| Field              | DB Value         | CSV Value         |
+====================+==================+===================+
| operation_province | Kalimantan Timur | Kalimantan Tengah |
+--------------------+------------------+-------------------+

Differences for company 'PT Bhakti Energi Persada':
+------------------+-------------+-----------------+
| Field            | DB Value    | CSV Value       |
+==================+=============+=================+
| operation_kabkot | Kutai TImur | Kutai Timur     |
+------------------+-------------+-----------------+
| key_operation    | Mining      | Mining Services |
+------------------+-------------+-----------------+

Differences for company 'PT Gorby Putra Utama':
+------------------+------------+----------------------------+
| Field            | DB Value   | CSV Value                  |
+==================+============+============================+
| operation_kabkot |            | Musi Rawas, Musi Banyuasin |
+------------------+------------+----------------------------+

Differences for company 'PT Gorby Global Energi':
+------------------+------------+----------------------------+
| Field            | DB Value   | CSV Value                  |
+==================+============+============================+
| operation_kabkot |            | Musi Rawas, Musi Banyuasin |
+------------------+------------+----------------------------+

Differences for company 'PT Cipta Wana Dana':
+------------------+------------+----------------------------+
| Field            | DB Value   | CSV Value                  |
+==================+============+============================+
| operation_kabkot |            | Musi Rawas, Musi Banyuasin |
+------------------+------------+----------------------------+

Differences for company 'PT Gorby Energy':
+------------------+------------+----------------------------+
| Field            | DB Value   | CSV Value                  |
+==================+============+============================+
| operation_kabkot |            | Musi Rawas, Musi Banyuasin |
+------------------+------------+----------------------------+

Differences for company 'PT Alhasanie':
+------------------+------------+-------------+
| Field            | DB Value   | CSV Value   |
+==================+============+=============+
| operation_kabkot |            | Berau       |
+------------------+------------+-------------+

Differences for company 'PT Borneo Minerals':
+------------------+------------+-------------+
| Field            | DB Value   | CSV Value   |
+==================+============+=============+
| operation_kabkot |            | Berau       |
+------------------+------------+-------------+

Differences for company 'PT Diva Kencana Borneo':
+------------------+------------+-------------+
| Field            | DB Value   | CSV Value   |
+==================+============+=============+
| operation_kabkot |            | West Kutai  |
+------------------+------------+-------------+

Differences for company 'PT Karya Borneo Agung':
+------------------+------------+-------------+
| Field            | DB Value   | CSV Value   |
+==================+============+=============+
| operation_kabkot |            | West Kutai  |
+------------------+------------+-------------+

Differences for company 'PT Bara Karya Agung':
+------------------+------------+-------------+
| Field            | DB Value   | CSV Value   |
+==================+============+=============+
| operation_kabkot |            | West Kutai  |
+------------------+------------+-------------+

Differences for company 'PT Hanson Energy':
+------------------+------------+--------------------+
| Field            | DB Value   | CSV Value          |
+==================+============+====================+
| operation_kabkot |            | Martapura, Balfour |
+------------------+------------+--------------------+

Differences for company 'PT Kalbara Energi Pratama':
+------------------+------------+-------------+
| Field            | DB Value   | CSV Value   |
+==================+============+=============+
| operation_kabkot |            | Berau       |
+------------------+------------+-------------+

Differences for company 'PT Ratna Utama Karya':
+------------------+------------+-------------+
| Field            | DB Value   | CSV Value   |
+==================+============+=============+
| operation_kabkot |            | Berau       |
+------------------+------------+-------------+

Differences for company 'PT Sriwijaya Muba Logistik':
+---------------+---------------------+-------------------------------------------------------------------------------------------------+
| Field         | DB Value            | CSV Value                                                                                       |
+===============+=====================+=================================================================================================+
| company_type  | Logistics           | Contractor                                                                                      |
+---------------+---------------------+-------------------------------------------------------------------------------------------------+
| key_operation | Logistic Management | Mining Services                                                                                 |
+---------------+---------------------+-------------------------------------------------------------------------------------------------+
| activities    |                     | ["Trading", "Construction", "Transportation", "Workshop", "Printing", "industry", "Agriculture" |
+---------------+---------------------+-------------------------------------------------------------------------------------------------+

Differences for company 'PT Sriwijaya Mitra Pelayaran':
+--------------+------------+-------------+
| Field        | DB Value   | CSV Value   |
+==============+============+=============+
| company_type | Logistics  | Contractor  |
+--------------+------------+-------------+

Differences for company 'PT Sriwijaya Bara Logistic':
+--------------+------------+-------------+
| Field        | DB Value   | CSV Value   |
+==============+============+=============+
| company_type | Logistics  | Contractor  |
+--------------+------------+-------------+

Differences for company 'PT Musi Mitra Jaya':
+--------------+------------+-------------+
| Field        | DB Value   | CSV Value   |
+==============+============+=============+
| company_type | Logistics  | Contractor  |
+--------------+------------+-------------+

Differences for company 'PT Aquela Pratama Indonesia':
+--------------+------------+-------------+
| Field        | DB Value   | CSV Value   |
+==============+============+=============+
| company_type | Holding    | Trader      |
+--------------+------------+-------------+

Differences for company 'PT Karimata Multi Prima':
+---------------+------------+--------------+
| Field         | DB Value   | CSV Value    |
+===============+============+==============+
| key_operation | Trading    | Coal Trading |
+---------------+------------+--------------+

Differences for company 'PT Nusantara Mapan Lestari':
+---------------+------------+--------------+
| Field         | DB Value   | CSV Value    |
+===============+============+==============+
| key_operation | Trading    | Coal Trading |
+---------------+------------+--------------+

Differences for company 'PT Hanson Energi Baturaja':
+---------------+------------+--------------+
| Field         | DB Value   | CSV Value    |
+===============+============+==============+
| key_operation | Trading    | Coal Trading |
+---------------+------------+--------------+